.button {
  padding: 10px 15px;
  color: $white;
}

.button-primary {
  background-color: $primary-dark;
}

.button-primary:hover {
  background-color: $primary-light;
}

.button-secondary {
  background-color: $secondary-dark;
}

.button-secondary:hover {
  background-color: $secondary-light;
}
