header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../assets/main/header-bg.png);
  background-size: cover;
  font-family: $primary-font;
  color: $bright-yellow;

  h1 {
    align-self: center;
    margin: 0;

    span {
      color: #FFF;
    }
  }
}

// .is-compact .nav-row--large {
//   min-height: auto;
//   display: hidden;
// }

// .logo {
//   height: 100px;
//   width: 100px;
// }

// .is-compact .logo {
//   height: 30px;
//   width: 30px;
// }

.nav--drawer {
  display: flex;;
}

.nav--small {
  display: flex;
}

.nav--large {
  display: none;
}

@media screen and (min-device-width: 480px) {
  .nav--drawer {
    display: none;
  }

  .nav--small {
    display: none;
  }

  .nav-row--large {
    align-self: center;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    height: 45px;
    width: 100%;

    .nav--large {
      display: flex;
      justify-content: space-around;
      font-family: $secondary-font;
      text-align: center;
      width: 80%;

      .nav-link, a {
        line-height: 42px;
        color: $white;
        text-decoration: none;
      }
    }

    .active {
      position: relative;
      color: $bright-yellow;
    }

    .active:after {
      content: "";
      width: 70%;
      height: 2px;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $bright-yellow;
      left: 15%;
      margin-bottom: 8px;
    }
  }
}
