.portfolio-header {
  background-image: url(../assets/main/header-bg.png);
  background-size: cover;
  color: #fff;
}

.portfolio-header .mdl-layout__header-row {
  padding: 0;
  justify-content: center;
}

.main-header {
  font-family: $title-font;
  color: $bright-yellow;
}

.main-header span {
  color: #FFF;
}

.portfolio-logo-row {
  display: absolute;
  min-height: 200px;
}

.is-compact .portfolio-logo-row {
  min-height: auto;
  display: hidden;
}

.portfolio-logo {
  height: 100px;
  width: 100px;
}

.is-compact .portfolio-logo {
  height: 30px;
  width: 30px;
}

.portfolio-navigation-row {
  background-color: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  height: 45px;
}

.portfolio-navigation-row .mdl-navigation {
  text-align: center;
  max-width: 900px;
  width: 100%;
}

.portfolio-navigation-row .nav-link {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 42px;
}

.portfolio-header .mdl-layout__drawer-button {
  background-color: rgba(197, 197, 197, 0.8);
}

.portfolio-navigation-row .active {
  position: relative;
  color: $bright-yellow;
}

.portfolio-navigation-row .active:after {
  content: "";
  width: 70%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $bright-yellow;
  left: 15%;
  margin-bottom: 3px;
}
