.picture_container {
  margin: 40px auto;
  background-color: $white;
  display: flex;
  justify-content: center;
  width: 900px;
  max-width: 90%;

  img {
    margin: 40px auto;
    width: 100%;
  }
}
