.posts_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px auto;
  width: 800px;
  height: 100%;
  background-color: $white;
  box-shadow: 2px 2px 8px $secondary-dark;

  h2 {
    align-self: center;
    margin: 40px auto;
  }

  ul {
    margin: 0 auto 40px 40px;
    list-style: none;
  }

  a {
    cursor: pointer;
    font-weight: bold;
    color: $secondary-dark;

    .posts-date {
      font-weight: normal;
      text-transform: uppercase;
      font-size: .9em;
      color: $primary-dark;
      font-family: $monospace-font;
    }

    .posts-separator, .posts-blurb {
      font-weight: normal;
      font-size: .9em;
      color: $secondary-light;
    }
  }
}
