.post_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  width: 800px;
  height: 100%;
  background-color: $white;
  box-shadow: 2px 2px 8px $secondary-dark;

  img {
    width: 100%;
  }

  h1 {
    margin-top: 40px;
    font-family: $primary-font;
    font-weight: 900;
    letter-spacing: 2px;
  }

  .post-date {
    color: $secondary-light;
  }

  .post-body {
    display: flex;
    flex-direction: column;
    margin: 40px auto;

    h2 {
      margin: 30px 40px 10px;
      font-family: $primary-font;
      font-weight: 700;
    }

    p, ul, ol, li {
      margin: 10px 40px;
      line-height: 1.3em;
      color: $secondary-dark;
    }

    img {
      margin: 10px auto;
      width: auto;
    }
  }
}
