.projects-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1200px;
  max-width: 90%;

  .project_card {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400;
    margin: 5px;
    background-color: $secondary-light;
    box-shadow: 2px 2px 3px $secondary-dark;
  }

  .project_card-media {
    img {
      width: 100%;
      height: 100%;
    }
  }

  .project_card-title_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $secondary-dark;
    text-decoration: none;

    .project_card-title {
      font-family: $primary-font;
      color: $white;
    }
  }

  .project_card:hover {
    box-shadow: 4px 4px 8px $secondary-dark;
  }
}
