$primary-font: 'GazePro', 'Lato', sans-serif;
$secondary-font: 'Lato', sans-serif;

$primary-color: #e5c217;
$secondary-color: #FFF;
$tertiary-color: #40403e;

$white: #FFF;
$bright-yellow: #e5c217;
$light-grey: #686a6b;
