$primary-font: 'GazePro', 'Lato', sans-serif;
$secondary-font: 'Lato', sans-serif;

$primary-dark: #BE9400;
$primary-light: #e5c217;
$secondary-dark: #40403e;
$secondary-light: #adada5;
$white: #fff;
