/*------------------------------------*\
  #IMPORTS
\*------------------------------------*/

@import '_reset';
@import '_variables';
@import '_header';
@import '_footer';
@import '_buttons';
@import '_about';
@import '_projects';
@import '_project';
@import '_contact';
@import '_animations';

@font-face {
  font-family: 'GazePro';
  src: url('../assets/fonts/gaze_pro-webfont.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/gaze_pro-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/gaze_pro-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/gaze_pro-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/gaze_pro-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body {
  background-color: $primary-light;
  font-family: 'Lato', sans-serif;
  background-image: url(../assets/main/body-bg.png);
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  width: 100%;
  min-height: 95vh;
  height: 100%;
  flex-direction: column;
}

.main {
  display: flex;
  justify-content: center;
}

form {
  margin-bottom: 30px;
}


.mdl-button {
  font-family: 'Lato', sans-serif;
}

.social-links img {
  margin: 10px 10px 10px 0;
}

.portfolio-card .mdl-card__title {
  padding-bottom: 0;
}

.resource-card-full-bg {
  background: url(../assets/resources/example-blog03.jpg) center / cover;
}

.resource-card-event-bg {
  background: url(../assets/resources/example-blog05.jpg) center / cover;
}

.resource-card-strip-bg {
  background: url(../assets/resources/example-blog06.jpg) center / cover;
}

.resource-card-compact .mdl-card__title {
  padding-bottom: 0;
}

img.article-image {
  width: 100%;
  height: auto;
}

.portfolio-max-width {
  max-width: 900px;
  margin: auto;
}

.no-padding {
  padding: 0;
}

.no-left-padding {
  padding-left: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.padding-top {
  padding: 10px 0 0;
}

.portfolio-share-btn {
  position: relative;
  float: right;
  top: -4px;
}

.demo-card-event > .mdl-card__actions {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.mdl-card__contact-text {
  align-self: center;
  width: 60%;
  margin-top: 20px;
}

.portfolio-contact .mdl-textfield {
  width: 100%;
}

.demo-card-wide__custom {
  width: 100%;
  max-width: 1024px;
  margin-top: 20px;
}

.elk-project-button {
  margin-right: 15px;
}

.projects-all-title {
  font-family: 'GazePro', 'Lato', sans-serif;
  color: #6c5b02;
  text-decoration: none;
}

.project-detail-title {
  font-family: 'GazePro', 'Lato', sans-serif;
  margin: 60px 0 0 20px;
}

.project-detail-blurb {
  font-weight: bold;
  color: #6c5b02;
}

.project-detail-date {
  font-weight: bold;
  font-style: italic;
}

.project-detail-technology {
  font-weight: bold;
  font-style: italic;
  color: #6c5b02;
}

.project-detail-image {
  max-width: 300px;
  height: auto;
}

.project-detail-video {
  margin-top: 30px;
  max-width: 250px;
  height: auto;
}

.project-detail-features {
  line-height: 1em;
}
