/*------------------------------------*\
  #IMPORTS
\*------------------------------------*/

@import '_reset';
@import '_variables';
@import '_header';
@import '_footer';
@import '_buttons';
@import '_about';
@import '_projects';
@import '_project';
@import '_blog';
@import '_contact';
@import '_resources';
@import '_animations';

@font-face {
  font-family: 'GazePro';
  src: url('../assets/fonts/gaze_pro-webfont.eot'); /* IE9 Compat Modes */
  src: url('../assets/fonts/gaze_pro-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/gaze_pro-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/gaze_pro-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets/fonts/gaze_pro-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body {
  background-color: $primary-light;
  font-family: $secondary-font;
  background-image: url(../assets/main/body-bg.png);
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  width: 100%;
  min-height: 95vh;
  height: 100%;
  flex-direction: column;
}

.main {
  display: flex;
  justify-content: center;
}

.social-links img {
  margin: 10px 10px 10px 0;
}
