/*------------------------------------*\
  #IMPORTS
\*------------------------------------*/

@import '_reset';
@import '_utilities';
@import '_variables';
@import '_header';
@import '_footer';
@import '_buttons';
@import '_about';
@import '_projects';
@import '_project';
@import '_posts';
@import '_post';
@import '_pictures';
@import '_picture';
@import '_contact';
@import '_animations';

body {
  background-color: $primary-light;
  font-family: $secondary-font;
  background-image: url(../assets/main/body-bg.png);
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  width: 100%;
  min-height: 95vh;
  height: 100%;
  flex-direction: column;
}

.main {
  display: flex;
  justify-content: center;
}

.social-links img {
  margin: 10px 10px 10px 0;
}
