<article class="mdl-card demo-card-wide__custom">
  <section class="mdl-cell--1-offset mdl-cell--10-col">
    <div class="mdl-card__title">
      <h2>CollaboWrite</h2>
    </div>
  </section>
  <section class="mdl-card__supporting-text mdl-grid">
    <section class="mdl-cell--1-offset mdl-cell--7-col">
      <p class="strong">Built October 2016</p>
      <p class="italic">{{vm.projectList[2].technologies}}</p>
    </section>
    <section class="mdl-cell--1-offset mdl-cell--3-col">
      <a href="{{vm.projectList[0].demoURL}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent elk-project-button" target="_blank">Live</a>
      <a href="{{vm.projectList[0].github}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"target="_blank">Github</a>
    </section>
    <section class="mdl-grid">
      <section class="mdl-cell--1-offset mdl-cell--7-col">
        <p>CollaboWrite is a storytelling platform. </p>

        <p>Features include:</p>

        <ul>
          <li>Twitter OAuth</li>
        </ul>

      </section>
      <section class="mdl-cell--1-offset mdl-cell--2-col">
        <img src="assets/images/collabowrite_thumbnail.png" alt="Collabowrite screenshot" />
      </section>
    </section>
  </section>
</article>
