<article class="content">
  <section>
    <h2>Planit</h2>
    <p class="strong">Built January 2016</p>
    <p class="italic">{{ projects[1].technologies }}</p>

    <button class="button hollow"><a href="{{ projects[1].liveURL }}" target="_blank">Live</a></button>
    <button class="button hollow"><a href="{{ projects[1].github }}" target="_blank">GitHub</a></button>

    <p>Planit is an event human resources marketplace. As a user, you act as an event owner or contributor. As an owner, you can create events, add tasks, review (and accept or reject) proposals. As a contributor, you can propose to other users' tasks based the qualifications listed in your profile.</p>
    <p>This was a group project completed during the tenth week of bootcamp. My team took the opportunity to develop a granular Agile workflow and experience pair programming. We also built an SPA without a framework. I wouldn't recommend this, but it was a great learning experience. While I collaborated on many of the pieces, the majority of my focus was on the views and client-side javascript.</p>

    <img class="project-asset" src="assets/planit-screenshot.jpg" alt="planit screenshot" />

    <!-- <iframe width="420" height="315" src="https://www.youtube.com/embed/lf53EPZKexE" frameborder="0" allowfullscreen></iframe> -->

  </section>
  <section>
    <button class="button secondary hollow"><a ui-sref="projects">Back to project list.</a></button>
  </section>
</article>
