<div class="mdl-card demo-card-wide__custom">
  <section class="mdl-cell--1-offset mdl-cell--10-col">
    <div class="mdl-card__title">
      <h2>Planit</h2>
    </div>
  </section>
  <div class="mdl-card__supporting-text">
    <div class="mdl-grid">
      <section class="mdl-cell--1-offset mdl-cell--7-col">
        <p class="strong">Built January 2016</p>
        <p class="italic">{{vm.projectList[2].technologies}}</p>
      </section>
      <section class="mdl-cell--1-offset mdl-cell--3-col">
        <a href="{{vm.projectList[2].demoURL}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent elk-project-button" target="_blank">Live</a>
        <a href="{{vm.projectList[2].github}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"target="_blank">Github</a>
      </section>
    </div>
    <div class="mdl-grid">
      <section class="mdl-cell--1-offset mdl-cell--7-col">
        <p>Planit is an event management marketplace. This was a group project completed during the tenth week of my web development program. My team took the opportunity to develop a granular Agile workflow and experience pair programming. We also built an SPA without a framework. I wouldn't recommend this, but it was a great learning experience. While I collaborated on many of the pieces, the majority of my focus was on the views and client-side javascript.</p>

        <p>Features include:</p>

        <ul>
          <li>LinkedIn OAuth</li>
          <li>Customizable profiles</li>
          <li>As an event owner, you can create events, add tasks, review (and accept or reject) proposals</li>
          <li>As a contributor, you can propose to other users' tasks based the qualifications listed in your profile.</li>
        </ul>

      </section>
      <section class="mdl-cell--1-offset mdl-cell--2-col">
        <img src="assets/images/planit-screenshot.jpg" alt="Planit screenshot" />
      </section>
    </div>
  </div>
</div>
