
<div class="mdl-card demo-card-wide__custom">
  <section class="mdl-cell--1-offset mdl-cell--10-col">
    <div class="mdl-card__title">
      <h2>Personal Portfolio</h2>
    </div>
  </section>
  <div class="mdl-card__supporting-text">
    <div class="mdl-grid">
      <section class="mdl-cell--1-offset mdl-cell--7-col">
        <p class="strong">Built October 2016</p>
        <p class="italic">{{vm.projectList[2].technologies}}</p>
      </section>
      <section class="mdl-cell--1-offset mdl-cell--3-col">
        <a href="{{vm.projectList[2].demoURL}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent elk-project-button" target="_blank">Live</a>
        <a href="{{vm.projectList[2].github}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"target="_blank">Github</a>
      </section>
    </div>
    <div class="mdl-grid">
      <section class="mdl-cell--1-offset mdl-cell--7-col">
        <p>...</p>

        <p>Features include:</p>

        <ul>
          <li>...</li>
        </ul>

      </section>
      <section class="mdl-cell--1-offset mdl-cell--2-col">
        <img src="assets/projects/portfolio-screenshot.jpg" alt="portfolio screenshot" />
      </section>
    </div>
  </div>
</div>
