<div class="mdl-card demo-card-wide__custom">
  <section class="mdl-cell--1-offset mdl-cell--10-col">
    <div class="mdl-card__title">
      <h2>Stumblr</h2>
    </div>
  </section>
  <div class="mdl-card__supporting-text">
    <div class="mdl-grid">
      <section class="mdl-cell--1-offset mdl-cell--8-col">
        <p class="strong">Built February 2016</p>
        <p class="italic">{{ projects[0].technologies }}</p>
      </section>
      <section class="mdl-cell--1-offset mdl-cell--3-col">
        <a href="{{vm.projectList[1].demoURL}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent elk-project-button" target="_blank">Live</a>
        <a href="{{vm.projectList[1].github}}" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"target="_blank">Github</a>
      </section>
    </div>
    <div class="mdl-grid">
      <section class="mdl-cell--1-offset mdl-cell--7-col">
        <p>Stumblr is pub crawl planning app that maps a barhopping route based on your current location or a specific address.</p>
        <p>Features include:</p>

        <ul>
          <li>Login with Twitter Auth</li>
          <li>Customize tweet settings and dashboard settings</li>
          <li>Create a route based on location and route preferences</li>
          <li>Save routes and see their statuses</li>
          <li>View your route on a Google Map</li>
          <li>Check in, skip and focus on bars on the map</li>
          <li>Earn badges based on the type and number of routes you complete or forfeit</li>
          <li>Tweet when you check in and earn badges</li>
          <li>Connect to Uber when you end a route.</li>
        </ul>
        <p>This was a collaboration with two other students. It was our first exposure to React, MongoDB and OpenShift.</p>
      </section>
      <section class="mdl-cell--1-offset mdl-cell--2-col">
        <img src="assets/projects/stumblr-screenshot.jpg" alt="stumblr screenshot" />
      </section>
    </div>
    <div class="mdl-grid">
      <section class="mdl-cell--1-offset mdl-cell--11-col">
        <iframe width="420" height="315" src="https://www.youtube.com/embed/2FxQtDDtg1M" frameborder="0" allowfullscreen></iframe>
      </section>
    </div>
  </div>
</div>
