/*------------------------------------*  #IMPORTS
\*------------------------------------*/
body, main, div, article, section, h1, h2, h3, h4, h5, h6, p, button, form, a, ul, ol, li {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

button {
  border: none; }

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../assets/main/header-bg.png);
  background-size: cover;
  font-family: "GazePro", "Open Sans", sans-serif;
  color: #e5c217; }
  header h1 {
    align-self: center;
    margin: 0;
    letter-spacing: 2px; }
    header h1 span {
      color: #FFF; }

.nav--drawer {
  display: flex; }

.nav--small {
  display: flex; }

.nav--large {
  display: none; }

@media screen and (min-device-width: 480px) {
  .nav--drawer {
    display: none; }
  .nav--small {
    display: none; }
  .nav-row--large {
    align-self: center;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    height: 45px;
    width: 100%; }
    .nav-row--large .nav--large {
      display: flex;
      justify-content: space-around;
      font-family: "Open Sans Condensed", sans-serif;
      text-align: center;
      width: 800px; }
      .nav-row--large .nav--large .nav-link, .nav-row--large .nav--large a {
        line-height: 42px;
        color: #fff;
        text-decoration: none; }
    .nav-row--large .active {
      position: relative;
      color: #e5c217; }
    .nav-row--large .active:after {
      content: "";
      width: 70%;
      height: 2px;
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #e5c217;
      left: 15%;
      margin-bottom: 8px; } }

footer {
  display: flex;
  justify-content: space-between;
  background-image: url(../assets/main/footer-background.png);
  background-size: cover;
  height: 20px;
  color: #fff;
  padding: 10px 40px; }

.button {
  padding: 10px 15px;
  color: #fff; }

.button-primary {
  background-color: #BE9400; }

.button-primary:hover {
  background-color: #e5c217; }

.button-secondary {
  background-color: #40403e; }

.button-secondary:hover {
  background-color: #adada5; }

.about_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px auto;
  width: 800px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 8px #40403e; }
  .about_card .about_card-media img {
    width: 100%; }
  .about_card .about_card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px; }
    .about_card .about_card-content h3, .about_card .about_card-content p {
      margin: 10px 20px;
      line-height: 1.5em; }

.projects-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1200px;
  max-width: 90%; }
  .projects-container .project_card {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    margin: 5px;
    box-shadow: 2px 2px 3px #40403e; }
    .projects-container .project_card a, .projects-container .project_card img {
      width: 100%;
      height: 100%; }
  .projects-container .project_card:hover {
    box-shadow: 4px 4px 8px #40403e; }

.project_detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px auto;
  width: 800px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 8px #40403e;
  padding: 40px;
  font-family: "Open Sans Condensed", sans-serif; }
  .project_detail-container .project_detail-title {
    font-family: "GazePro", "Open Sans", sans-serif; }
  .project_detail-container .project_detail-data {
    display: flex;
    justify-content: space-between; }
    .project_detail-container .project_detail-data .project_detail-data--left {
      display: flex;
      flex-direction: column;
      line-height: 1.5em; }
      .project_detail-container .project_detail-data .project_detail-data--left .project-detail-technology {
        color: #BE9400;
        font-style: italic; }
    .project_detail-container .project_detail-data .project_detail-data--right {
      display: flex;
      justify-content: flex-end; }
      .project_detail-container .project_detail-data .project_detail-data--right a {
        margin: 0 5px; }
  .project_detail-container .project_detail-text .project_detail-blurb, .project_detail-container .project_detail-text .project_detail-description {
    margin: 20px auto;
    line-height: 1.5em; }
  .project_detail-container .project_detail-bottom_container {
    display: flex;
    justify-content: space-between; }
    .project_detail-container .project_detail-bottom_container .project_detail-features_container ul {
      margin: 10px; }
      .project_detail-container .project_detail-bottom_container .project_detail-features_container ul li {
        margin: 10px 20px; }
    .project_detail-container .project_detail-bottom_container .project_detail-media_container {
      width: 200px;
      height: 200px; }
      .project_detail-container .project_detail-bottom_container .project_detail-media_container img {
        width: 100%;
        height: auto; }

.posts_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px auto;
  width: 800px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 8px #40403e; }
  .posts_container h2 {
    align-self: center;
    margin: 40px auto; }
  .posts_container ul {
    margin: 0 auto 40px 40px;
    list-style: none; }
  .posts_container a {
    cursor: pointer;
    font-weight: bold;
    color: #40403e; }
    .posts_container a .posts-date {
      font-style: italic;
      font-weight: normal;
      text-transform: uppercase;
      font-size: .9em;
      color: #BE9400; }
    .posts_container a .posts-separator, .posts_container a .posts-blurb {
      font-weight: normal;
      font-size: .9em;
      color: #adada5; }

.post_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  width: 800px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 8px #40403e; }
  .post_container img {
    width: 100%; }
  .post_container h1 {
    margin-top: 20px;
    font-family: "GazePro", "Open Sans", sans-serif;
    letter-spacing: 2px; }
  .post_container .post-date {
    color: #adada5; }
  .post_container .post-body {
    display: flex;
    flex-direction: column;
    margin: 40px auto; }
    .post_container .post-body h2 {
      margin: 30px 40px 10px; }
    .post_container .post-body p {
      margin: 10px 40px;
      line-height: 1.3em;
      color: #40403e; }
    .post_container .post-body img {
      margin: 10px auto;
      width: auto; }

.contact_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px auto;
  width: 800px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 8px #40403e; }
  .contact_card .contact_card-media img {
    width: 100%; }
  .contact_card .contact_card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px; }
    .contact_card .contact_card-content .contact_card-social--links {
      display: flex;
      justify-content: space-around;
      width: 200px; }
    .contact_card .contact_card-content form {
      display: flex;
      flex-direction: column;
      margin: 40px auto;
      width: 400px;
      max-width: 80%; }
      .contact_card .contact_card-content form .floating_label-container {
        margin-top: 20px;
        display: flex;
        flex-direction: column; }
        .contact_card .contact_card-content form .floating_label-container input, .contact_card .contact_card-content form .floating_label-container textarea {
          border: 0;
          border-bottom: 1px solid #40403e;
          line-height: 2em; }
        .contact_card .contact_card-content form .floating_label-container .form-error {
          display: none; }
      .contact_card .contact_card-content form .button_container {
        display: flex;
        margin-top: 20px;
        justify-content: flex-end; }

.portfolio-logo-drop {
  position: absolute;
  animation: drop 500ms 500ms ease-in;
  animation-fill-mode: both; }

.portfolio-logo-roll {
  position: absolute;
  animation: roll 3000ms 800ms cubic-bezier(0.55, 0.73, 0.34, 1.01);
  animation-fill-mode: both; }

@keyframes drop {
  0% {
    left: 0;
    top: -100px; }
  25% {
    left: 0;
    top: 95px; }
  50% {
    left: 0;
    top: 50px; }
  75% {
    left: 0;
    top: 95px; }
  85% {
    left: 0;
    top: 80px; }
  100% {
    left: 0;
    top: 100px; } }

@keyframes roll {
  0% {
    left: 0;
    transform: rotateZ(0deg); }
  100% {
    left: 600px;
    transform: rotateZ(405deg); } }

@font-face {
  font-family: 'GazePro';
  src: url("../assets/fonts/gaze_pro-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../assets/fonts/gaze_pro-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/gaze_pro-webfont.woff2") format("woff2"), url("../assets/fonts/gaze_pro-webfont.woff") format("woff"), url("../assets/fonts/gaze_pro-webfont.ttf") format("truetype"); }

body {
  background-color: #e5c217;
  font-family: "Open Sans Condensed", sans-serif;
  background-image: url(../assets/main/body-bg.png);
  margin: 0;
  padding: 0; }

.wrapper {
  display: flex;
  width: 100%;
  min-height: 95vh;
  height: 100%;
  flex-direction: column; }

.main {
  display: flex;
  justify-content: center; }

.social-links img {
  margin: 10px 10px 10px 0; }
