@font-face {
  font-family: 'GazePro';
  src: url('../assets.fonts/gaze_pro-webfont.eot'); /* IE9 Compat Modes */
  src: url('../assets.fonts/gaze_pro-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets.fonts/gaze_pro-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets.fonts/gaze_pro-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../assets.fonts/gaze_pro-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body {
  display: flex;
  background-color: #e5c217;
  font-family: 'Lato', sans-serif;
  background-image: url(../assets/main/body-bg.png);
}

main {
  align-self: center;
  min-height: 100%;
}

form {
  margin-bottom: 30px;
}

.portfolio-header {
  background-image: url(../assets/main/header-bg.png);
  background-size: cover;
  color: #fff;
}

.portfolio-header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-logo-row {
  display: absolute;
  min-height: 200px;
}

.is-compact .portfolio-logo-row {
  min-height: auto;
  display: hidden;
}

.portfolio-logo {
  height: 100px;
  width: 100px;
}

.is-compact .portfolio-logo {
  height: 30px;
  width: 30px;
}

.portfolio-navigation-row {
  background-color: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  height: 45px;
}

.portfolio-navigation-row .mdl-navigation {
  text-align: center;
  max-width: 900px;
  width: 100%;
}

.portfolio-navigation-row .mdl-navigation__link {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 42px;
}

.portfolio-header .mdl-layout__drawer-button {
  background-color: rgba(197, 197, 197, 0.8);
}

.portfolio-navigation-row .active {
  position: relative;
  color: #ffd600;
}

.portfolio-navigation-row .active:after {
  content: "";
  width: 70%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ffd600;
  left: 15%;
  margin-bottom: 3px;
}

.portfolio-card {
  display: flex;
}

.portfolio-card h2 {
  margin: 60px 0 10px 0;
}

.project-title {
  margin-top: -40px;
}

.project-description {
  max-height: 110px;
}

.mdl-card__supporting-text {
  height: 100%;
}

.mdl-card__actions {
  height: 50px;
  background-color: #707070;
}

.mdl-button {
  font-family: 'Lato', sans-serif;
}

.social-links img {
  margin: 10px 10px 10px 0;
}

.portfolio-card .mdl-card__title {
  padding-bottom: 0;
}

.resource-card-full-bg {
  background: url(../assets/resources/example-blog03.jpg) center / cover;
}

.resource-card-event-bg {
  background: url(../assets/resources/example-blog05.jpg) center / cover;
}

.resource-card-strip-bg {
  background: url(../assets/resources/example-blog06.jpg) center / cover;
}

.resource-card-compact .mdl-card__title {
  padding-bottom: 0;
}

img.article-image {
  width: 100%;
  height: auto;
}

.portfolio-max-width {
  max-width: 900px;
  margin: auto;
}

.no-padding {
  padding: 0;
}

.no-left-padding {
  padding-left: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.padding-top {
  padding: 10px 0 0;
}

.portfolio-share-btn {
  position: relative;
  float: right;
  top: -4px;
}

.demo-card-event > .mdl-card__actions {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.mdl-card__contact-text {
  align-self: center;
  width: 60%;
  margin-top: 20px;
}

.portfolio-contact .mdl-textfield {
  width: 100%;
}

footer {
  background-image: url(../assets/main/footer-background.png);
  background-size: cover;
  display: flex;
  align-items: stretch;
  margin-bottom: -10px;
}

.demo-card-wide__custom {
  width: 100%;
  max-width: 1024px;
  margin-top: 20px;
}

.elk-project-button {
  margin-right: 15px;
}

.projects-all-title {
  font-family: 'GazePro', 'Lato', sans-serif;
  color: #6c5b02;
  text-decoration: none;
}

.project-detail-title {
  font-family: 'GazePro', 'Lato', sans-serif;
  margin: 60px 0 0 20px;
}

.project-detail-blurb {
  font-weight: bold;
  color: #6c5b02;
}

.project-detail-date {
  font-weight: bold;
  font-style: italic;
}

.project-detail-technology {
  font-weight: bold;
  font-style: italic;
  color: #6c5b02;
}

.project-detail-image {
  max-width: 300px;
  height: auto;
}

.project-detail-video {
  margin-top: 30px;
  max-width: 250px;
  height: auto;
}

.project-detail-features {
  line-height: 1em;
}
