<div class="about_card">
  <div class="about_card-media">
    <img src="../assets/about/about-header.jpg" border="0" alt="">
  </div>
  <div class="about_card-content">
    <h3 class="">Hi, my name is Elana (rhymes with llama).</h3>
    <p>
      I am a Web Developer and an Instructor at <a href="http://galvanize.com" target="_blank">Galvanize (a learning community)</a>. I used to be a Marketing Director at a solar company and I have a Bachelor’s degree in animation. I also have an interest in design and illustration.
    </p>
    <p>
      My first coding language was JavaScript and I’ve done a fair amount of work with Node, Express, and Angular 1.x. I’ve also explored Ember and React. I am currently building a project with Elixir and Phoenix, as well as exploring Elm and Vue.js.
    </p>
    <p>
      Aside from coding, I have a tendency to organize things that connect people. Since starting at Galvanize, I’ve started a women’s Meetup on two campuses, a mentorship program, and an Instructor Lunch n’ Learn program.
    </p>
    <p>
      I also enjoy (extremely) casual sports, writing, reading and good coffee. I care a lot about animals (making their lives better), and education for everyone. Most importantly, I am passionate about learning.
    </p>
  </div>
</div>
