<main class="mdl-layout__content">
  <div class="mdl-grid portfolio-max-width">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">About</h2>
      </div>
      <div class="mdl-card__media">
        <img class="article-image" src="../assets/about/about-header.jpg" border="0" alt="">
      </div>
      <div class="mdl-grid portfolio-copy">
        <h3 class="mdl-cell mdl-cell--12-col mdl-typography--headline">My name is Elana Kopelevich.</h3>
        <div class="mdl-cell mdl-cell--12-col no-padding ">
          <p>I am a web developer, Associate Instructor of Web Development at Galvanize and I have a background in marketing and design.</p>

          <p>You can always read my resume, but since you're on this page, here are the web technologies that I am already proficient with: HTML, CSS, learning, JavaScript, Angular (1.x), Ember, learning, Node, Express, PostgreSQL, Knex learning, MongoDB, React, Agile, Git, Mocha/Jasmine/Chai and, oh yeah, learning. I've also played with Ruby/Rails, Elixir and learning. Outside of coding, but still in a professional capacity, I work on my design skills, speak at Meetups, participate in (and start) mentoring and community programs.</p>

          <p>I am a full stack developer, but I particularly enjoy the presentation layer and user interactions, so I find myself having more fun with front-end work. That being said, I kind of love writing RESTful APIs too. I'm very interested in writing clean, well-documented and tested code that pushes boundaries. I prefer to do be doing this around people who like to learn and teach (same thing).</p>

          <p>Prior to officially getting into web development, I had a career in marketing. In that past life, I brought together unique skill sets in graphic design, copywriting, illustration, communications and strategic management to drive rapid growth at several organizations. I've worked in corporate and start-up style environments and I've proven to be adaptable, resourceful and helpful on every team.</p>

          <p>In a non-professional capacity, I enjoy (extremely) casual sports, illustration, writing, reading and drinking good coffee. I care a lot about animals (making their lives better), education (for everyone!) and clean energy. Most importantly, I am passionate about learning.</p>
        </div>
      </div>
    </div>
  </div>
</main>
