<div class="headers">
  <header>
    <h1>Elana Kopelevich - <span>Web Developer</span></h1>
    <div class="nav-row--large">
      <nav class="nav--large">
        <a class="nav-link" ui-sref-active="active" ui-sref="root.about">About</a>
        <a class="nav-link" ui-sref-active="active" ui-sref="root.projects">Projects</a>
        <a class="nav-link" ui-sref-active="active" ui-sref="root.posts">Blog</a>
        <a class="nav-link" ui-sref-active="active" ui-sref="root.art">Art</a>
        <a class="nav-link" ui-sref-active="active" ui-sref="root.contact">Contact</a>
      </nav>
    </div>
  </header>
  <div>
    <nav class="nav--small">
      <a class="nav-link" ui-sref-active="active" ui-sref="about">About</a>
      <a class="nav-link" ui-sref-active="active" ui-sref="projects">Projects</a>
      <a class="nav-link" ui-sref-active="active" ui-sref="root.posts">Blog</a>
      <a class="nav-link" ui-sref-active="active" ui-sref="root.art">Art</a>
      <a class="nav-link" ui-sref-active="active" ui-sref="contact">Contact</a>
    </nav>
  </div>
</div>
