<div class="headers">
  <header>
    <h1>Elana Kopelevich<span class="separator"> | </span><span class="title">Web Developer</span></h1>
    <div class="nav-row--large">
      <nav class="nav--large">
        <a class="nav-link" ui-sref-active="active" ui-sref="root.about">About</a>
        <a class="nav-link" ui-sref-active="active" ui-sref="root.projects">Projects</a>
        <a class="nav-link" ui-sref-active="active" ui-sref="root.posts">Writing</a>
        <a class="nav-link" ui-sref-active="active" ui-sref="root.pictures">Art</a>
        <a class="nav-link" ui-sref-active="active" href="assets/resume/Kopelevich_resume_2016_NOV.pdf" target="_blank">Resume</a>
        <a class="nav-link" ui-sref-active="active" ui-sref="root.contact">Contact</a>
      </nav>
    </div>
  </header>
  <div>
    <nav class="nav--small">
      <a class="nav-link" ui-sref-active="active" ui-sref="about">About</a>
      <a class="nav-link" ui-sref-active="active" ui-sref="projects">Projects</a>
      <a class="nav-link" ui-sref-active="active" ui-sref="root.posts">Writing</a>
      <a class="nav-link" ui-sref-active="active" ui-sref="root.pictures">Art</a>
      <a class="nav-link" ui-sref-active="active" href="assets/resume/Kopelevich_resume_2016_NOV.pdf" target="_blank">Resume</a>
      <a class="nav-link" ui-sref-active="active" ui-sref="contact">Contact</a>
    </nav>
  </div>
</div>
