<div class="post_container">
  <div class="post_cover">
    <img ng-src="{{vm.post.cover}}" border="0" alt="vm.post.title">
  </div>
  <h1>{{ vm.post.title }}</h1>
  <p class="post-date">Posted <span am-time-ago="vm.post.date"></span></p>
  <section class="post-body" ng-bind-html="vm.post.body"></section>

  <div id="disqus_thread"></div>
  <script>

  var disqus_config = function () {
  // this.page.url = www.elanalynn.com
  // this.page.identifier = PAGE_IDENTIFIER
  };

  (function() {
  var d = document, s = d.createElement('script');
  s.src = '//elanalynn.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
</div>
