<div class="resources_container">

  <article class="resource_card" ng-repeat="resource in vm.resources">
    <div class="resource_card-graphic">
      <img class="article-image" src="{{ resource.media }}" border="0" alt="">
    </div>
    <div class="">
      <h2 class="">Velit anim eiusmod labore sit amet</h2>
      <div class="">
        <span>Posted 2 days ago</span>
        <div class="">share</div>
        <div class="">
          Share via social media
        </div>
      </div>
      <div class="resource_card-text">
        <p>{{ resource.text }}</p>
        <span>Category: <a href="#">Latest</a></span>
      </div>
    </div>
  </article>
</div>
